.dots__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .dot__carousel {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $tertiary-color;

        &:hover {
            background-color: $tertiary-color;
        }

        &.active {
            background-color: $tertiary-color;
        }
    }
}
