.arrows__carousel {
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    .arrow__carousel {
        width: $arrow-width;
        height: $arrow-height;
        border-radius: $arrow-border-radius;
        border: $arrow-border;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:first-child::after {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
        }
        &::after {
            content: "";
            background-image: $arrow-icon;
            background-size: 20px 20px;
            background-repeat: no-repeat;
            width: 20px;
            height: 20px;
        }
        &:hover {
            background-color: $arrow-hover-color;
            &::after {
                background-image: $arrow-icon-hover;
            }
        }
    }
}
