.dots__carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .dot__carousel {
        width: $dot-width;
        height: $dot-height;
        border-radius: $dot-border-radius;
        border: $dot-border;

        &:hover {
            background-color: $dot-hover-color;
        }

        &.active {
            background-color: $dot-active-color;
        }
    }
}
