#slider__carousel {
    display: flex;
    width: $slider-width;
    height: $slider-height;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transform: translateX(-100%);
    &.slider__3d {
        transform: translateX(calc(-100% / 1.5));
    }
    .slide__carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        padding: $slide-padding;
        color: $slide-text-color;
        width: $slide-width;
        height: $slide-height;
        background-color: $slide-bg-color;

        overflow: hidden;
        &.slide__3d {
            position: relative;
            flex-shrink: 0;
            width: calc(100% / 3);
            // width: 425px;
            height: 240px;
            border-radius: 20px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center top;
        }
    }
}
